

@import 'fonts-include/exo2';
@import 'fonts-include/nunito';
@import '_grid';


$black: #1C2527;
$green-text: #6BD369;
$blue-dark: #1FA3C8;
$gray: #A4ACAE;
$gray-light: #E8F0F2;
$red: #FF5E7B;






*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html{
	scroll-behavior: smooth;
	font-family: $nunito;
}


a{
	text-decoration: none;
	outline: none;
}

input, textarea{
	font-family: inherit;
	border: none;
	background: #fff;
	outline: none;
}

address{
	font-style: normal;
}

ul{
	list-style: none;
}


html, body{
	min-height: 100vh;
}

body{
	display: flex;
	flex-direction: column;
}

main{
	flex-grow: 1;
}

.section{
	padding: 0 12px;

	@media (min-width: $md){
		padding: 0 24px;
	}
	@media (min-width: $xl){
		padding: 0 80px;
	}
}
.section__inner{

}



@mixin text {
	font-family: $nunito;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.135;
	color: $black;
	transition: 300ms;
}


.text{
	@include text;
	
}



@import 'units/header/header';