<div class="hm-container">
    <div class="hamburger-menu">
        <button class="close-btn hamburger-menu__close-btn" target="">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">                        
                <path d="M40 8L8 40" stroke="#A4ACAE" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M40 40L8 8" stroke="#A4ACAE" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>                        
            </svg>
        </button>

        <a href="index.html" class="hamburger-menu__logo">
            <img src="assets/img/logo.svg" alt="">
        </a>

        <div class="hamburger-menu__inner">

            
            <ul class="mb-10">
                <li><a href="#" class="hamburger-menu__nav-link">Контактная информация</a></li>
                <li class="mt-7"><a href="#" class="hamburger-menu__nav-link">О компании</a></li>
                <li class="mt-7"><a href="#" class="hamburger-menu__nav-link">Способы доставки</a></li>
                <li class="mt-7"><a href="#" class="hamburger-menu__nav-link">Способы оплаты</a></li>
                <li class="mt-7"><a href="#" class="hamburger-menu__nav-link">Контакты</a></li>                        
            </ul>
            
            
            <ul class="hamburger-menu__contacts">
                <li><a href="tel:+73833817442">+7 (383) 381-74-42</a></li>
                <li class="mt-6 mt-sm-0"><a href="mailto:sale@dipse.ru" class="mail">sale@dipse.ru</a></li>
            </ul>
            
            
            
            
            
        </div>
        
    </div>
</div>