.breadcrumbs{
    
    display: flex;
    flex-wrap: wrap;

    padding-top: 16px;
    padding-bottom: 8px;

    @media (min-width: $sm){
        padding-top: 24px;
        padding-bottom: 12px;
    }

    @media (min-width: $lg){
        padding-top: 48px;
        padding-bottom: 24px;
    }
    a{
        
        display: inline-block;
        color: $gray;
        cursor: initial;

        @include text-small-768;

        @media (min-width: 768px){
            @include text;    

        }

        &:not(:first-of-type){
            padding-left: 1rem;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                display: inline-block;
                width: .125rem;
                height: .125rem;
                background-color: $gray;
                left: .5rem;
                top: 50%;
                transform: translate(0, -50%);
                transition: 300ms;
            }
        }

        &:not(:last-of-type){
            cursor: pointer;

            &:hover{
                color: $blue-dark;

                &::before{
                    background-color: $blue-dark;
                }
            }
        }
    }
    
    display: flex;
}